lightGrey = #f5f5f5

.elaborate-annotated-text
	position relative

	select
		font-family sans-serif
		font-size 10px
		margin-right 4px
		width 100px
		background none
		border 1px solid #DDD

		&:focus
			outline none

	i.fa
		color darken(lightGrey, 20%)
		font-size 12px
		line-height 20px

		&:hover
			cursor pointer
			color #888