// article > .metadata
// 	max-height 44px
// 	position relative
// 	z-index 2
// 	background white
// 	overflow hidden
// 	margin 30px 0 40px 0
// 	transition max-height 500ms

// 	&.show-all
// 		max-height 400px
// 		overflow-y auto

// 		button.green
// 			&:after
// 				content: '▲'

// 		div.value
// 			overflow visible
// 			white-space normal

// 	& > button.green, table
// 		box-sizing border-box
// 		display inline-block
// 		vertical-align top

// 	& > button.green
// 		width 10%
// 		margin 0 2.5% 0 2.5%

// 	button.green
// 		&:after
// 			content: '▼'

// 	table
// 		display none
// 		width 70%
// 		border-collapse collapse

// 		tr
// 			border-bottom 1px solid lightGrey

// 			td
// 				width 25%
// 				vertical-align top

// 				div.value
// 					padding-bottom 10px
// 					width 95%
// 					overflow ellipsis

// 				h5
// 					margin 0
// 					padding 0